# 针对特定包设置二进制文件镜像
registry=https://registry.npmmirror.com
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass
PHANTOMJS_CDNURL=https://npmmirror.com/mirrors/phantomjs
CHROMEDRIVER_CDNURL=https://npmmirror.com/mirrors/chromedriver
OPERADRIVER_CDNURL=https://npmmirror.com/mirrors/operadriver
SELENIUM_CDNURL=https://npmmirror.com/mirrors/selenium
NODE_SQLITE3_BINARY_SITE=https://npmmirror.com/mirrors/sqlite3 